<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kittyfarm</title>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Kittyfarm</a>
    </h3>

    <hr/>
   <form action="{{ url_for('index') }}" method="POST" class=add-entry>
      <dl>
        <input type=text size=15 name=kitty_id placeholder="1">
        <input type=submit value=Predict>
      </dl>
   </form>
   <div class="result">
         {% if result %}
             <br> Predicted kitty value:
                <p style="font-size:50px">{{ result }}</p>
         {% endif %}
     </div>

     <div class="image">
         {% if image %}
             <img src="{{ image }}" style="width:400px;">
         {% endif %}
     </div>

</body>
</html>